[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=4

[{messages.*,spring.handlers,spring.schemas,messages,org.codehaus.groovy.runtime.ExtensionModule,*.properties}]
indent_style=space
indent_size=4

